* {
  --primary-color: #e5f9db;
  --secondary-color: #1b9c85;
  --accent-color: #ffe194;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;

  /* overflow: hidden; */
}

body {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}
/* =============navbar=================== */
nav {
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  height: 70px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav ul li a:hover {
  color: #555;
}

#search-overlay {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#search-bar {
  position: relative;
  display: inline-block;
  margin-left: auto;
  border-radius: 5px;
  width: 40%;
  /* width: 70%; */
}

#search-bar input[type="text"] {
  position: relative;
  padding: 8px;
  width: 100%;
  border-radius: 99px;
  border: 1px solid var(--accent-color);
  outline: none;
  z-index: 3;
}

#search-bar button {
  padding: 7px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-result-section {
  z-index: 3;
  position: absolute;
  top: 33px;
  left: 0px;
  color: #333;
  height: fit-content;
  max-height: 40vh;
  display: flex;
  /* padding: 3px; */
  width: 107%;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  /* margin-top: 10px; */
}
.search-result-section > div {
  width: 107%;
  padding: 3px 4px 3px 8px;
  background-color: #f5f5f5;
  font-size: 0.7em;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.search-result-section > div:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
