/* =============home page landing section============= */
* {
  --primary-color: #e5f9db;
  --secondary-color: #1b9c85;
  --accent-color: #ffe194;
}

.landing-section {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #1abc9c;
   */
  background-color: var(--secondary-color);
}

.landing-content {
  text-align: center;
  color: var(--primary-color);
}

.landing-heading {
  font-size: 48px;
  color: #fff;
  animation: fade-in 2s ease-in-out;
  color: var(--accent-color);
}

.landing-description {
  font-size: 24px;
  color: #fff;
  animation: slide-up 2s ease-in-out;
  color: var(--accent-color);
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ==============================table=========== */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
  /* padding: 20px; */
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#stockTableBody {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.fading-section {
  /* height: calc(55vh - 70px); */
  /* background: #1abc9c; */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.issuer:hover {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s;
}

#stockTableBody > tr:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: auto;
}

#stockTable {
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 0.5s;
}

/* ======================footer css===================== */

footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

footer > .container > .row {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row {
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #333;
}
