* {
  --primary-color: #e5f9db;
  --secondary-color: #1b9c85;
  --accent-color: #ffe194;
  --watchlist-color: #007bff;
  --portfolio-color: #1b9c85;
  --dim-color: #9bf2e2;
  --delete: rgb(235, 87, 87);
}

.heading,
#watchlist-no-of-stocks,
.card-heading,
p {
  margin: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--secondary-color);
}

.card-heading {
  font-weight: 700;
  /* width: max-content; */
  text-align: center;
}

#watchlist-no-of-stocks {
  color: var(--watchlist-color);
  font-weight: 600;
}

.sector-name {
  color: black;
  font-weight: 400;
}

#watchlist-container {
  padding: 30px;
  /* width: 100vw; */
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 10px;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.empty-message {
  color: var(--dim-color);
  font-size: 5rem;
  text-align: center;
  width: 40%;
  margin: auto;
}

.watchlist-card {
  width: 250px;
  height: fit-content;

  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.buttons-container {
  display: flex;
  width: 75%;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  /* background-color: brown; */
}

.view-button {
  background-color: var(--watchlist-color);
  width: 70%;
  color: white;
  border-radius: 7px;
  padding: 10px 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 7px;
}

.view-button:hover,
.remove-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.remove-button-container {
  display: flex;
  justify-content: center;
}

.remove-button {
  background-color: white;
  color: #1b9c85;
  /* margin-top: 7px; */
}

/* @keyframes heading-marquee-effect {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
} */
